/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url("bg.jpg"); /* Replace with your image file path */
    background-size: cover; /* Scale image to cover the entire page */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.content {
    width: 60%;
    padding: 25px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #ffffff9f;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Styling for form labels */
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

/* Styling for inputs and dropdown */
input[type="file"] {
    font-size: 14px;
    padding: 8px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    color: #0e65c3;
    font-weight: bold;
    border-radius: 4px;
}

select {
    background-color: #ffffff;
    font-size: 15px;
    padding: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Styling for button */
button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
    transition: background-color 0.2s ease-in;
}
