<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='preview_style.css') }}">
    <link rel="icon" href="/handwritingOCR/static/pdf.png" type="image/icon type">
    <title>Upload Successful!</title>
</head>
<body>
<h1>File Uploaded successfully!</h1>

<a href="{{ url_for('home') }}" class="button">Return</a>

</body>
</html>